.row {
	max-width: 100rem;
	overflow: hidden;
}

.columns {
	overflow: hidden;
}

@media screen and (min-width: 0em) and (max-width: 39.9375em) {
	#IntroBox h1 {font-size: 2rem;}
	#IntroBox p{ font-size: 1rem; }
	#IntroBox {
		padding: 2.5em;
		height: 300px;}
	#SignUp h2{ font-size: 1.3rem; }
	#SignUp .button { float: none;}
 }

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	#IntroBox h1 {font-size: 2.5em;}
	#IntroBox p{ font-size: 1rem; }
	#IntroBox {
		padding: 3em;
		height: 300px;}
	#SignUp h2{ font-size: 1.4rem; }
	#SignUp .button { float: left;}
}

@media screen and (min-width: 64em) {
	#IntroBox h1 {font-size: 3.1em;}
	#IntroBox p{ font-size: 1rem; }
	#IntroBox {
		padding: 4em;
		height: 500px;}
	#SignUp h2{ font-size: 1.8rem; }
	#SignUp .left-align { float: left; }
}

#Container {
	border: 20px solid #004be0;
	font-family: "proxima-nova",sans-serif;
	animation: fadein 1s ease-out;
    -moz-animation: fadein 1s ease-out; /* Firefox */
    -webkit-animation: fadein 1s ease-out; /* Safari and Chrome */
    -o-animation: fadein 1s ease-out; /* Opera */
    animation-fill-mode:forwards;
    opacity: 0;
}

#Logo {
	text-align: center;
	padding: 1em;
	animation: fadeInUp 1s ease-out;
    -moz-animation: fadeInUp 1s ease-out; /* Firefox */
    -webkit-animation: fadeInUp 1s ease-out; /* Safari and Chrome */
    -o-animation: fadeInUp 1s ease-out; /* Opera */
    -webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	animation-delay: 0.4s;
	animation-fill-mode:forwards;
	opacity: 0;
}

#IntroBox {
	background: url(../img/banner_bg.jpg) center center no-repeat;
	text-align: center;
	animation: fadeInUp 1s ease-out;
    -moz-animation: fadeInUp 1s ease-out; /* Firefox */
    -webkit-animation: fadeInUp 1s ease-out; /* Safari and Chrome */
    -o-animation: fadeInUp 1s ease-out; /* Opera */
    -webkit-animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
	animation-delay: 0.8s;
	animation-fill-mode:forwards;
	opacity: 0;
}
	#IntroBox.download {
		background: url(../img/grove-ave-ebook-bg.jpg) center center no-repeat;
	}
	#IntroBox h1 {
		font-family: "proxima-nova",sans-serif;
		font-weight: bold;
		line-height: 1.1em;
		margin-bottom: .3em;
	}
	#IntroBox h1.download {
		color: #ffffff;
		padding-top: 1.3em;
	}
	

#SignUp{
	padding-top: 3em;
	text-align: center;
	animation: fadeInUp 1s ease-out;
    -moz-animation: fadeInUp 1s ease-out; /* Firefox */
    -webkit-animation: fadeInUp 1s ease-out; /* Safari and Chrome */
    -o-animation: fadeInUp 1s ease-out; /* Opera */
    -webkit-animation-delay: 1.2s;
	-moz-animation-delay: 1.2s;
	animation-delay: 1.2s;
	animation-fill-mode:forwards;
	opacity: 0;
}
	#SignUp h2{
		font-family: "proxima-nova",sans-serif;
		font-weight: bold;
	}
	#SignUp p{
		font-size: 0.8rem;
	}
	#SignUp .button {
		background-color: #004be0;
	}
}

#Footer {
	animation: fadeInUp 1s ease-out;
    -moz-animation: fadeInUp 1s ease-out; /* Firefox */
    -webkit-animation: fadeInUp 1s ease-out; /* Safari and Chrome */
    -o-animation: fadeInUp 1s ease-out; /* Opera */
    webkit-animation-delay: 1.6s;
	-moz-animation-delay: 1.6s;
	animation-delay: 1.6s;
	animation-fill-mode:forwards;
	opacity: 0;
}
	#Footer ul{
		text-align: center;
		font-weight: bold;
		font-size: 0.8em;
		padding-top: 4em;
	}
		#Footer ul li {
			display: inline;
			padding-right: 1em;
		}

		#Footer ul li a{
			color: #000;
		}
			#Footer ul li a:hover {
				color: #004be0;
			}


@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}