.row {
	max-width: 100rem;
	overflow: hidden;
}

.columns {
	overflow: hidden;
}

@media screen and (min-width: 0em) and (max-width: 39.9375em) {
	#IntroBox {
		padding: 2.5em;
		height: 300px;}
		#IntroBox.coming-soon {
			height: 180px;
		}
		#IntroBox h1 { font-size: 2rem;}
			#IntroBox h1.download { padding-top: 1.9em;}
		#IntroBox h2 { font-size: 1rem; padding-top: 0.7em;}
		#IntroBox p{ font-size: 1rem; }
	#SignUp h2{ font-size: 1.3rem; }
	#SignUp .left-align { float: none;}
	#StarterIntro {
		padding: 2.5em;
		height: 347px;}
		#StarterIntro h1 {font-size: 1.8rem; margin-top: 0.5em;}
	#ProductDesc h2{ font-size: 1.3rem; margin: 0px 0 10px 0;}
	.main-gallery li {width: 100%; height: 100%;}
	#HeaderMobile { opacity: 1; }
	#Header {display: none;}
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	#IntroBox {
		padding: 3em;
		height: 300px;}
		#IntroBox.coming-soon {
			height: 210px;
		}
		#IntroBox h1 {font-size: 2.5em;}
			#IntroBox h1.download { padding-top: 1.4em;}
		#IntroBox h2 { font-size: 1.3rem; padding-top: 0.4em;}
		#IntroBox p{ font-size: 1rem; }
	#SignUp h2{ font-size: 1.4rem; }
	#SignUp .left-align { float: left; }
	#StarterIntro {
		padding: 5em;
		height: 347px;}
		#StarterIntro h1 {font-size: 2.5em;}
	#ProductDesc h2{ font-size: 1.4rem; margin: 20px 0 10px 0;}
	.main-gallery li {width: 100%; height: 100%;}
	#HeaderMobile { display: none; }
}

@media screen and (min-width: 64em) {
	#IntroBox {
		padding: 4em;
		height: 500px;}
		#IntroBox.coming-soon {
			height: 350px;
		}
		#IntroBox h1 {font-size: 3.1em;}
			#IntroBox h1.download { padding-top: 2.4em; }
		#IntroBox h2 { font-size: 1.5rem; padding-top: 0.5em;}
		#IntroBox p{ font-size: 1rem; }
	#SignUp h2{ font-size: 1.8rem; }
	#SignUp .left-align { float: left; }
	#StarterIntro {
		padding: 2em;
		height: 347px;}
		#StarterIntro h1 {font-size: 3.1em; margin-top: 0.7em;}
	#ProductDesc h2{ font-size: 1.8rem; margin: 30px 0 10px 0;}
	.main-gallery li {width: 100%; height: 100%;}
	#HeaderMobile { display: none; }
}

#Container {
	position: relative;
	border: 20px solid #004be0;
	font-family: "proxima-nova",sans-serif;
	animation: fadein 1s ease-out;
    -moz-animation: fadein 1s ease-out; /* Firefox */
    -webkit-animation: fadein 1s ease-out; /* Safari and Chrome */
    -o-animation: fadein 1s ease-out; /* Opera */
    animation-fill-mode:forwards;
    opacity: 0;
}

#Header {
	top: 0px;
	width: 100%;
	z-index: 1000;
	background: #fff;
	text-align: center;
	padding: 20px 0 20px 0;
}
	#Header nav a.navlink {
		float: left;
		color: #000;
		font-size: 0.8em;
		font-weight: bold;
		margin: 20px 10px;
		text-transform: uppercase;
	}
		#Header nav a.navlink:hover {
			color: #004be0;
		}

	#Header .nav-left {
		float: left;
		padding-left: 20px;
	}

	#Header .logo {
		width: 100px;
		margin: 0 auto;
	}

	#Header .nav-right {
		float: right;
		padding-right: 20px;
	}

	#Header .cart-icon {
		margin: 15px 20px 0 10px;
	}

#HeaderMobile {
	top: 0px;
	width: 100%;
	z-index: 1000;
	background: #fff;
	text-align: center;
	padding: 10px 0 10px 0;
}
	#HeaderMobile .logo {
		width: 100px;
		margin: 0 auto;
	}

	.sb-slidebar nav {
		position: absolute;
		top: 0px;
		width: 100%;
		background: #000;
		
	}
		.sb-slidebar nav a {
			float: left;
			width: 100%;
			color: #fff;
			padding: 5px 0 5px 20px;
			margin: 0;
			text-align: left;
		}
		.sb-slidebar nav a:hover {
			background: #888;
		}

#sb-site, .sb-site-container {
}

#MobileNav.sb-slidebar {
	z-index: 0;
	top: 0px;
	border-right: 20px solid #004be0;
	border-top: 20px solid #004be0;
}

html.sb-active #sb-site, .sb-toggle-left, .sb-toggle-right, .sb-open-left, .sb-open-right, .sb-close {
	cursor: pointer;
}

.border-menu {
  position: absolute;
  top: 28px;
  right: 20px;
  z-index: 9999;
  font-size: 0.8em;
  font-weight: bold;
}

#Logo {
	text-align: center;
	padding: 1em;
	animation: fadeInUp 1s ease-out;
    -moz-animation: fadeInUp 1s ease-out; /* Firefox */
    -webkit-animation: fadeInUp 1s ease-out; /* Safari and Chrome */
    -o-animation: fadeInUp 1s ease-out; /* Opera */
    -webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	animation-delay: 0.4s;
	animation-fill-mode:forwards;
	opacity: 0;
}

#IntroBox {
	background: url(../img/banner_bg.jpg) center center no-repeat;
	text-align: center;
	animation: fadeInUp 1s ease-out;
    -moz-animation: fadeInUp 1s ease-out; /* Firefox */
    -webkit-animation: fadeInUp 1s ease-out; /* Safari and Chrome */
    -o-animation: fadeInUp 1s ease-out; /* Opera */
    -webkit-animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
	animation-delay: 0.8s;
	animation-fill-mode:forwards;
	opacity: 0;
}
	#IntroBox.download {
		background: url(../img/grove-ave-ebook-bg.jpg) center center no-repeat;
	}
	#IntroBox h1 {
		font-family: "proxima-nova",sans-serif;
		font-weight: bold;
		line-height: 1.1em;
		margin-bottom: .3em;
	}
	#IntroBox h1.download {
		color: #ffffff;
	}
	#IntroBox h2 {
		font-family: "proxima-nova",sans-serif;
		font-weight: normal;
		line-height: 1.1em;
		margin-bottom: .3em;
	}

#StarterIntro {
	background: url(../img/trees_bg.jpg) center center no-repeat;
	background-size: 100% 100%;
	text-align: center;
	animation: fadeInUp 1s ease-out;
    -moz-animation: fadeInUp 1s ease-out; /* Firefox */
    -webkit-animation: fadeInUp 1s ease-out; /* Safari and Chrome */
    -o-animation: fadeInUp 1s ease-out; /* Opera */
    -webkit-animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
	animation-delay: 0.8s;
	animation-fill-mode:forwards;
	opacity: 0;
}
	#StarterIntro h1 {
		font-family: "proxima-nova",sans-serif;
		font-weight: bold;
		line-height: 1.1em;
		margin-bottom: .3em;
		color: #fff;
	}

#SignUp{
	padding-top: 3em;
	text-align: center;
	animation: fadeInUp 1s ease-out;
    -moz-animation: fadeInUp 1s ease-out; /* Firefox */
    -webkit-animation: fadeInUp 1s ease-out; /* Safari and Chrome */
    -o-animation: fadeInUp 1s ease-out; /* Opera */
    -webkit-animation-delay: 1.2s;
	-moz-animation-delay: 1.2s;
	animation-delay: 1.2s;
	animation-fill-mode:forwards;
	opacity: 0;
}
	#SignUp h2{
		font-family: "proxima-nova",sans-serif;
		font-weight: bold;
		line-height: 1.2em;
	}
	#SignUp p{
		font-size: 0.9rem;
	}
	#SignUp p.footnote {
		font-size: 0.6rem;
		line-height: 0.9rem;
		text-align: left;
	}
	#SignUp .button {
		background-color: #004be0;
		font-weight: bold;
	}


#ProductDesc {
	background: #f2f2f2;
	padding: 40px 0 40px 0;
	text-align: left;
	animation: fadeInUp 1s ease-out;
    -moz-animation: fadeInUp 1s ease-out; /* Firefox */
    -webkit-animation: fadeInUp 1s ease-out; /* Safari and Chrome */
    -o-animation: fadeInUp 1s ease-out; /* Opera */
    -webkit-animation-delay: 1.2s;
	-moz-animation-delay: 1.2s;
	animation-delay: 1.2s;
	animation-fill-mode:forwards;
	opacity: 0;
}
	#ProductDesc h2{
		font-family: "proxima-nova",sans-serif;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 3.0em;
		line-height: 1.2em;
	}
	#ProductDesc h3 {
		font-weight: bold;
	}
	#ProductDesc p{
		font-size: 1.0rem;
	}
	#ProductDesc .button {
		background-color: #004be0;
		font-weight: bold;
	}

#ProductDetails {
	padding: 40px 0 0 0;
}

	#ProductDetails h3 {
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
	}

	#ProductDetails h4 {
		text-transform: uppercase;
		text-align: left;
		font-weight: bold;
	}

	#ProductDetails p{
		text-align: center;
	}

	#ProductDetails .intro {
		margin: 0 0 30px 0;
	}

	#ProductDetails .detail {
		margin: 0 0 30px 0;
	}
		#ProductDetails .detail p{
		text-align: left;
	}


.circleimage {
	float: left;
	width: 100%;
    border-radius: 50%;
    margin: 0 0 20px 0;
}

#Guarantee {
	background: #dfdfdf;
	text-align: center;
	padding: 40px 0 40px;
}
	#Guarantee .icon {
		margin: 0 0 20px 0;
	}
	#Guarantee h3 {
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
	}
	#Guarantee p{
		text-align: center;
	}

#Disclaimer {
	text-align: center;
	padding: 40px 0 40px;
}

.main-gallery,.gallery-nav{visibility:visible}
.flickity-enabled{visibility:visible}
.gallery-nav .gallery-cell{height:60px;width:60px;list-style:none;border:1px solid #fff;margin:0 10px;background-size:cover;background-position:center center}
.gallery-nav .gallery-cell img{height:100%}
.main-gallery {width: 100%; height: 100%;}

.main-gallery img{height:100%}

.thumbs li{list-style:none;height:100%}
.gallery-nav .gallery-cell:before{font-size:50px;line-height:80px}
.gallery-nav .gallery-cell.is-nav-selected{border:1px solid #004be0}

#Footer {
	animation: fadeInUp 1s ease-out;
    -moz-animation: fadeInUp 1s ease-out; /* Firefox */
    -webkit-animation: fadeInUp 1s ease-out; /* Safari and Chrome */
    -o-animation: fadeInUp 1s ease-out; /* Opera */
    webkit-animation-delay: 1.6s;
	-moz-animation-delay: 1.6s;
	animation-delay: 1.6s;
	animation-fill-mode:forwards;
	opacity: 0;
}
	#Footer ul{
		text-align: center;
		font-weight: bold;
		font-size: 0.8em;
		padding-top: 4em;
	}
		#Footer ul li {
			display: inline;
			padding-right: 1em;
		}

		#Footer ul li a{
			color: #000;
		}
			#Footer ul li a:hover {
				color: #004be0;
			}


@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}